/* 中间分类模块 */
.grid {
    height: 470px;
}

.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #fefefe;
    color: #6c6c6c;
    font-size: 14px;
}

.grid-col1 ul {
    padding: 10px 0;
}

.grid-col1 ul li {
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
    /* 不用margin是为了鼠标经过的效果 */
    /* margin-left: 10px; */
}

.grid-col1 ul li:hover{
    background-color: #d9d9d9;
}
.grid-col1 ul li a {
    font-size: 14px;
    color: #333;
    margin: 0 3px;
}

.grid a:hover {
    color: #f10215;
}


.grid-col2 {
    width: 590px;
    height: 100%;
    margin-left: 10px;
    position: relative;
}

.grid-col3 {
    width: 190px;
    height: 100%;
    background-color:yellow;
}

/* 箭头部分 */
.arrow-l{
    position: absolute;
    top: 218px;
    width: 25px;
    height: 35px;
    background-color: rgba(0,0,0,.15);
    left: 0;
    font-size: 16px;
    line-height: 35px;
    color: rgba(255,255,255,.8);
    text-align: center;
    font-family: arial;
  
}

.arrow-r {
    position: absolute;
    top: 218px;
    width: 25px;
    height: 35px;
    background-color: rgba(0,0,0,.15);
    right: 0;
    font-size: 16px;
    line-height: 35px;
    color: rgba(255,255,255,.8);
    text-align: center;
    font-family: arial;
    
}

.circle {
    width: 113px;
    height: 15px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.circle li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 2px 2px 0;
    /* 鼠标经过li的时候变成小手 */
    cursor: pointer;
    
}

.circle .current {
    background-color: #f10215;
}

/* 最右侧模块 */
.login {
    height: 89px;
    background-color: #ffffff;
    padding-top: 13px;
    padding-left: 20px;
    color: #666;
}

.news {
    height: 130px;
    background-color:#ffffff;
}

.expand {
    height: 238px;
    background-color:#ffffff;
}

.login-t {
    width: 106px;
    font-size: 12px;
    padding-left: 53px;
    height: 48px;
    line-height: 20px;
    position: relative;
}

.login-t a {
    color: #333;
}

.user-info {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/no-login.png);
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #fff;
}

.login-b a {
    margin-top: 5px;
}


.new {
    display: block;
    width: 70px;
    height: 25px;
    margin: 0 6px;
    background-color: #fff;
    float: left;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    background-color: #e1251b;
    color: #fff;
    border-radius: 13px;
}

.member {
    display: block;
    width: 70px;
    height: 25px;
    margin: 0 6px;
    background-color: #fff;
    float: left;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    background-color: #363634;
    color: #e5d790;
    border-radius: 13px;
}

.news-hd {
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}

.news-hd h5 {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.news-hd a {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}

.news-items {
    max-width: 160px;
    _width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}

.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}

.expand {
    height: 228px;
    padding: 5px 0 5px;
}
.expand ul {
    padding-top: 5px;
    height: 225px;
}
.expand li {
    width: 63px;
    height: 55px;
    position: relative;
    float: left;
    background: #fff;
    text-align: center;
}

.expand a {
    display: block;
    position: relative;
}

.expand span:hover {
    color: #c81623;
}

.expand i {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.expand img{
    width: 28px;
    height: 28px;
    border: 0;
    vertical-align: middle;
}

.expand span {
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    color: #333;
}